<div class="dog_container mt-5">
  <h1 class="mb-4 text-center">Adoption Information</h1>
  <div class="row">
    <div class="col-md-6 mb-4">
      <div class="card shadow-sm">
        <img src="https://cdn2.thedogapi.com/images/-HgpNnGXl.jpg" alt="Daisy Jones" class="card-img-top">
        <div class="card-body">
          <h2 class="card-title">Daisy Jones</h2>
          <p class="card-text"><strong>Breed:</strong> Husky</p>
          <p class="card-text"><strong>Age:</strong> 5 years</p>
          <p class="card-text"><strong>Gender:</strong> Female</p>
          
        </div>
      </div>
    </div>
    <div class="col-md-6 mb-4">
      <div class="card shadow-sm p3 mt-2">
        <div class="card-body">
          <h3 class="card-title">Description</h3>
          <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus commodi deserunt eius mollitia minima ullam labore! Iure explicabo, est magnam repellat tempore amet hic repudiandae, reiciendis, facere vel iusto molestias.</p>
        </div>
      </div>
      <%= link_to "Login", new_user_session_path, class: "btn btn-primary mt-2", role: "button" %>
    </div>
  </div>
</div>
