<!-- Navbar -->
<%= render "shared/navbar" %>

<!-- Admin Dashboard Content -->

<div class="dashboard-container">
  <h2 class="admin-header">Welcome to Pawsome Pals Dog Adoption Center Admin Dashboard</h2>
  <p class="admin-par">Manage and monitor the dog adoption activities at Pawsome Pals.</p>

  <div class="row mt-4">
    <div class="col-md-4">
      <div class="card admin-card">
        <div class="card-body admin-card-body">
          <h5 class="card-title admin-card-title">Total Dogs for Adoption</h5>
          <p class="card-text admin-card-text">Currently, there are 42 dogs available for adoption.</p>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card admin-card">
        <div class="card-body admin-card-body">
          <h5 class="card-title admin-card-title">Adoption Requests</h5>
          <p class="card-text admin-card-text">There are 0 pending adoption requests waiting for review.</p>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card admin-card">
        <div class="card-body admin-card-body">
          <h5 class="card-title admin-card-title">Successful Adoptions</h5>
          <p class="card-text admin-card-text">Congratulations! 30 dogs found their forever homes this month.</p>
        </div>
      </div>
    </div>
  </div>

 

  <div class="row mt-4">
    <div class="col-md-4">
      <div class="card admin-card">
        <div class="card-body admin-card-body">
          <h3 class="card-title admin-card-title">Manage Dog Listings</h3>
          <p class="card-text admin-card-text">Review and update the information about dogs available for adoption.</p>
          <a href="#" class="btn btn-primary admin-btn">Manage Dog Listings</a>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card admin-card">
        <div class="card-body admin-card-body">
          <h3 class="card-title admin-card-title">Adoption Requests</h3>
          <p class="card-text admin-card-text">Review and approve/deny adoption requests from potential adopters.</p>
          <a href="#" class="btn btn-success admin-btn">View Adoption Requests</a>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card admin-card">
        <div class="card-body admin-card-body">
          <h3 class="card-title admin-card-title">User Management</h3>
          <p class="card-text admin-card-text">View and manage user accounts who are part of the Pawsome Pals Dog Adoption Center.</p>
          <a href="#" class="btn btn-info admin-btn">User Management</a>
        </div>
      </div>
    </div>
  </div>

 
</div>
