<!DOCTYPE html>
<html>
<head>
  <title>Adoption Request Approved</title>
</head>
<body>
  <h2>Congratulations!</h2>
  <p>Your adoption request has been approved for the following dog:</p>
  <p>
    <strong>Dog Name:</strong> <%= @dog.dog_name %><br>
    <strong>Dog Breed:</strong> <%= @dog.breed %>
  </p>
  <p>Thank you for choosing to adopt!</p>
</body>
</html>
