<!DOCTYPE html>
<html>
<head>
  <title>Adoption Request Declined</title>
</head>
<body>
  <h2>We regret to inform you...</h2>
  <p>Unfortunately, your adoption request has been declined for the following dog:</p>
  <p>
    <strong>Dog Name:</strong> <%= @dog.dog_name %><br>
    <strong>Dog Breed:</strong> <%= @dog.breed %>
  </p>
  <p>Please don't hesitate to reach out if you have any questions or concerns.</p>
</body>
</html>
