<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light ">
  <div class="nav-container">
    <a class="navbar-brand" href="#">Pawsome Pals</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
        <%= link_to "Login", new_user_session_path, class: "btn btn-landing btn-lg", role: "button" %>

        </li>
        <li class="nav-item">
        <%= link_to "Signup", new_user_registration_path, class: "btn btn-landing btn-lg", role: "button" %>

        </li>
      </ul>
    </div>
  </div>
</nav>

  
<div class="content-container">
  <video autoplay muted loop id="video-bg">
    <source src="assets/bg.mp4" type="video/mp4">
    Your browser does not support the video tag.
  </video>

  <div class="overlay"></div>

  <!-- Content Overlay -->
  <div class="overlay-content">
    <h1 class="display-4">Welcome to Our Dog Adoption Center!</h1>
    <p class="lead">Find your new furry friend and give them a forever home.</p>
    <a class="btn btn-primary btn-lg" href="<%= adoption_listing_viewing_path %>" role="button">Browse Available Dogs</a>
  </div>
</div>

  <!-- Why Choose Dog Adoption Section -->
<section class="about-us">
  <div class="why-container">
    <div class="row">
      <div class="col-md-6">
        <h2>Why Choose Dog Adoption?</h2>
        <p class="lead">Adopting a dog not only brings joy to your life but also provides a loving home for a pet in need. Here are some reasons to consider dog adoption:</p>
        <ul>
          <li>Save a life</li>
          <li>Companionship</li>
          <li>Unconditional love</li>
          <li>Reduce pet overpopulation</li>
        </ul>
      </div>
      <div class="col-md-6">
        <div class="image-section">
          <%= image_tag(asset_path("adoptme.png"), alt: "Dog Adoption Image") %>
        </div>
      </div>
    </div>
  </div>
</section>


    <!-- Contact Us Section -->
    <section class="mt-5">
      <h2>Contact Us</h2>
      <p>If you have any questions or need assistance, feel free to contact our adoption center. We're here to help!</p>
      <p>Email: info@dogadoption.com</p>
      <p>Phone: (555) 123-4567</p>
    </section>



