<%= render "shared/navbar" %>

<div class="container">
  <div class="alert alert-success" role="alert">
    Your adoption application for <%= @dog.dog_name %> has been successfully submitted to the admin for review.
  </div>

  <div>
    <% if @dog&.picture.present? %>
      <%= image_tag @dog.picture, class: "img-fluid", alt: @dog.dog_name %>
    <% end %>
  </div>
</div>
