:root {
    --primary-color: #E8C872;
    --secondary-color: #FFF3CF;
    --accent-color: #C9D7DD;
    --neutral-color: #637A9F;
}

.container-sm {
    justify-content: center;
    text-align: center;
    background-color: var(--secondary-color);
    height: 1000px;
}


.maincontent {
    padding-top: 0%;
    padding-left: 0%;
}

.col-lg-4 {
    margin-top: 30px;
    padding: 0 15px; /* Add padding to create space between grid items */
}

/* Images crop and center to col-lg box up to 1000% centering */
.col-lg img {
    display: block;
    position: absolute;
    left: -1000%;
    right: -1000%;
    top: -1000%;
    bottom: -1000%;
    margin: auto;
    min-height: 100%;
    min-width: 100%;
    max-width: 100%; /* Ensure the image doesn't overflow its container */
    border-radius: 10px;
}

.img-fluid{
    border-radius: 5px;
}

.imgrid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

/* Set a fixed height for grid items */
.grid-item {
    width: 100%;
    margin-bottom: 30px; /* Add margin bottom to create space between grid items */
}

.dog-item-container {
    align-items: center;
    background-color: var( --primary-color);
    margin-bottom: 10px;
    border-radius: 10px;
    border: 5px solid black;
    
}

.dog-item-container p{ 
    font-size: 1.5rem;
    font-weight: 500;

}

.view-profie-button {
    background-color: var(--neutral-color);
    width: 400px;
  
}

.dog-listing-container {
    background-color: #FFF3CF;
    max-width: 1600px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }

  .dog-picture {
    width: 200px; 
    height: 200px; 
    object-fit: cover; /* Ensures the image covers the area without losing its aspect ratio */
    display: block;
    margin: 0 auto; /* Centers the image if the cell is wider */
  }

.adoption-profile{
    display: flex;
    align-items: center;
    justify-content: center; 
    
    
}
  
.adoption-image-container{
    justify-content: center;
    align-items: center;
}

  .adoption-image {
    width: 600px;
    height: 900px;
   max-height: 100%;
    max-width: 100%;
  }


  .card-img-top{
    align-items: center;
    max-width: 500px;
    max-height: 700px;
    margin-top: 30px;
  }

  .card-body{
    margin-top: 0px;
  }
  

  /* Adoption Request */

  .adoption-request-container {
    margin-top: 20px;
    padding: 20px;
    
    border-radius: 5px; /* Add some border radius for rounded corners */
  }
  
  .adoption-request-container h1 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .adoption-request-container table {
    width: 100%;
  }
  
  .adoption-request-container th,
  .adoption-request-container td {
    padding: 8px;
  }
  
  .adoption-request-container thead {
    background-color: #343a40;
    color: #fff;
  }
  
  .adoption-request-container tbody tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  .adoption-request-container button {
    margin-right: 5px; /* Add some space between buttons */
  }
  